{:deps
 {org.clojure/clojure {:mvn/version "1.10.0-master-SNAPSHOT"}
  org.clojure/spec.alpha {:mvn/version "0.2.177-SNAPSHOT"}
  org.clojure/tools.cli {:mvn/version "0.4.1"}
  nrepl/nrepl {:mvn/version "0.5.3"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {midje {:mvn/version "1.9.4"}}}}}
